[Unit]
Description=NginX
After=tilda_center.service networking.service
Requires=tilda_center.service networking.service
Wants=tilda_center.target networking.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill nginx
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=/usr/bin/docker pull nginx:latest
ExecStart=/usr/bin/docker run -p 80:80 -p 443:443 -v /var/lib/docker/volumes/nginx/conf.d:/etc/nginx/conf.d:ro --name nginx --volumes-from tilda_center --link tilda_center:tilda_center --rm nginx:latest
ExecStop=/usr/bin/docker stop nginx

[Install]
WantedBy=multi-user.target
