[Unit]
Description=meka.rs
After=network.service
Requires=network.service
Wants=network.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull mekanix/meka.rs
ExecStartPre=-/usr/bin/docker kill meka.rs
ExecStartPre=-/usr/bin/docker rm meka.rs
ExecStart=/usr/bin/docker run -it --rm --name meka.rs mekanix/meka.rs
ExecStop=/usr/bin/docker stop meka.rs

[Install]
WantedBy=multi-user.target
