[Unit]
Description={{ item.name }}
After=network.service
Requires=network.service
Wants=network.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull mekanix/{{ item.name }}
ExecStartPre=-/usr/bin/docker kill {{ item.name }}
ExecStartPre=-/usr/bin/docker rm {{ item.name }}
ExecStart=/usr/bin/docker run -it --rm --name {{ item.name }} mekanix/{{ item.name }}
ExecStop=/usr/bin/docker stop {{ item.name }}

[Install]
WantedBy=multi-user.target
