[Unit]
Description=Tilda Center
After=postgresql.service
Requires=postgresql.service
Wants=postgresql.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull mekanix/tilda_center:latest
ExecStartPre=-/usr/bin/docker kill tilda_center
ExecStartPre=-/usr/bin/docker rm tilda_center
ExecStart=/usr/bin/docker run -v /var/lib/docker/volumes/tilda_center/local_settings.py:/app/local_settings.py:ro --rm --name tilda_center --link postgresql:postgresql mekanix/tilda_center:latest
ExecStop=/usr/bin/docker stop tilda_center

[Install]
WantedBy=multi-user.target
